.card_articlescard {
  margin-bottom: 16px;
  flex-basis: 300px;
  flex-grow: 1;
}

.card_articlescard:last-of-type {
  margin-right: 16px;
}


@media screen and (max-width: 1200px) {
  .card_articlescard {
    flex-basis: 250px;
   }
  }


@media screen and (max-width: 768px) {
    .card_articlescard {
      max-width: 224px;
      margin-right: 8px;

      flex-basis: 190px;
      }
    }


@media screen and (max-width: 680px) {
    .card_articlescard {
      max-width: 330px;
      }
    }



@media screen and (max-width: 530px) {
  .card_articlescard {
    max-width: 400px;
    flex-basis: auto;
    margin-right: 0;
  }
}

/* todo nthoftype */


/* условие в js для замены и добавления классов

<div class="card__bookmark-section">
<div class="card__bookmark">
  <!-- <div class="card__bookmark-flag"></div> -->
  <div class="card__bookmark-delete"></div>
</div>
<!-- <div class="card__bookmark-alert">
  <span>Войдите, чтобы сохранять статьи</span>
</div> -->
<div class="card__bookmark-delete-caption">
  <span>Убрать из сохранённых</span>
</div>
<div class="card__bookmark-category">
  <span>Природа</span>
</div>
</div> */