.card_articlescard {
margin-bottom: 16px;
 flex: 1 0 25%;


}


@media screen and (max-width: 720px) {
  .card_articlescard {
    flex: 1 0 50%;
  }
}



/* todo nthoftype */


/* условие в js для замены и добавления классов

<div class="card__bookmark-section">
<div class="card__bookmark">
  <!-- <div class="card__bookmark-flag"></div> -->
  <div class="card__bookmark-delete"></div>
</div>
<!-- <div class="card__bookmark-alert">
  <span>Войдите, чтобы сохранять статьи</span>
</div> -->
<div class="card__bookmark-delete-caption">
  <span>Убрать из сохранённых</span>
</div>
<div class="card__bookmark-category">
  <span>Природа</span>
</div>
</div> */