.search__input-container {
  /* box-sizing: border-box; */
  width: 100%;
  margin-left: 24px;
  margin-right: 4px;
}


@media screen and (max-width: 530px) {
  .search__input-container {

    width: 100%;
    padding: 0;
    margin: 0;

    height: 64px;

    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    backdrop-filter: blur(8px);
    border-radius: 100px;


    display: flex;
    align-items: center;
    justify-content: center;
    }


    .search__input-container:hover  {
      border: 1px solid #2F71E5;
    }

  }