.header__links {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;

  font-size: 18px;
  line-height: 24px;

}

.header__links a:nth-child(2){
  margin-left: 32px;
}
