.popup__input {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 5px 0 0;

  color: #000000;
}

/* .popup__input:invalid {
  color: red;
} */


.popup__input:focus {
  border-bottom: 1px solid rgba(0, 0, .8);
}