.card__bookmark-category {
/* todo position */

  position: absolute;
  /* min-width: 70px; */
  width: 80px;
  /* padding: 0 15px 0; */
  height: 40px;
  /* left: 24px; */
  right: 294px;
  top: 24px;
  background: #FFFFFF;
  border-radius: 8px;


  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000000;


}

