
.popup__button {
  max-width: 360px;
  width: 100%;
  box-sizing: border-box;
  height: 64px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.popup__button_inactive {
  background-color: #E6E8EB;
  color: #B6BCBF;
}

/* .popup__button_inactive:active {
  background: #E6E8EB;
  outline: none;
} */

@media screen and (max-width: 530px) {
  .popup__button {
    height: 56px;
  }
}