.footer__social-icon {
  padding: 0 0 0 26px;
}


@media screen and (max-width: 860px) {
  .footer__social-icon {
    padding: 0 0 0 18px;

  }
}

@media screen and (max-width: 790px) {
  .footer__social-icon {
    padding: 0 0 0 10px;
  }
}


@media screen and (max-width: 700px) {
  .footer__social-icon {
    padding: 0 0 0 14px;
  }
}