.search__bar {
  margin: 64px 0 80px 0;

  max-width: 608px;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__bar:hover  {
  border: 1px solid #2F71E5;
}


@media screen and (max-width: 768px) {
  .search__bar {
    margin: 48px 0 48px 0;
    height: 56px;
  }
}

@media screen and (max-width: 530px) {
  .search__bar {

    max-width: 530px;
    margin: 122px 0 32px 0;
    padding: 0;
    /* height: 536px; */
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: none;

    border: none;
    box-sizing: content-box;
    backdrop-filter: none;

    border-radius: 0;
  }

  .search__bar:hover  {
    border: none;
  }
}