.search__bar {
  max-width: 608px;
  min-width: 370px;
  height: 64px;
  margin: 64px 0 80px 0;

  background: #FFFFFF;

  /* simulator/gray/divider */
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
/* TODO */
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100px;


  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

}


@media screen and (max-width: 768px) {
  .search__bar {
    margin: 48px 0 48px 0;
    height: 56px;
  }
}

.search__bar:hover  {
  border: 1px solid #2F71E5;
}
