.card__source {
  font-weight: 600;
  /* font-weight: bold; */
  margin: 0;
  font-family: 'Roboto Slab';
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}
