.search__title {
  margin: 0;
  padding: 0;
  width: 608px;
  height: 128px;
  margin-left: 416px;
  padding-top: 160px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;

}
