.card__bookmark {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 24px;
  background: #FFFFFF;
  border-radius: 8px;
}


@media screen and (max-width: 860px) {
  .card__bookmark {
    right: 8px;
    top: 8px;
  }
}

@media screen and (max-width: 530px) {
  .card__bookmark {
    right: 24px;
    top: 24px;
  }
}