.logo {
/* todo */

  font-family: 'Roboto Slab';
  font-style: normal;
  /* font-weight: 500; */
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}


@media screen and (max-width: 700px) {
  .logo {
    font-size: 18px;
  }
}


@media screen and (max-width: 530px) {
  .logo {
    font-size: 16px;
    padding: 0 30px;
    z-index: 11;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    padding: 0 16px;
  }
}