.footer__links li{
  display: inline-block;
  zoom:1;
  *display:inline;
  /* this fix is needed for IE7- */
}


/* @media screen and (max-width: 700px) {
  .footer__links {
    padding: 0;
    margin: 0;
  }
} */


@media screen and (max-width: 700px) {
  .footer__links {
    /* display: block; */
    padding: 20px 0 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}