.search {

  /* background-image: url(../../images/search.png); */

  background-image: url(../../src/images/search.png);
  padding: 0 416px;
  height: 576px;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
}
