@import url(./__content/about__content.css);
@import url(./__photo/about__photo.css);
@import url(./__text/about__text.css);
@import url(./__title/about__title.css);

.about {
  margin: 0;
  padding: 0 104px;
  /* width: 100%;
  max-width: 1440px; */
  height: 624px;
  display: flex;
}
