.search__input {
  height: 22px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  width: inherit;
}

@media screen and (max-width: 530px) {
  .search__input {
    width: 100%;
    margin-left: 24px;
    margin-right: 20px;
    background-color: transparent;
  }
}

