.search-results_nothing-found-img {
    padding-top: 84px;
    margin: 0 auto;

}

@media screen and (max-width: 860px) {
  .search-results_nothing-found-img {
    padding-top: 60px;
  }
}


@media screen and (max-width: 768px) {
  .search-results_nothing-found-img {
    padding-top: 40px;
  }
}