@import url(./vendor/normalize.css);
@import url(./blocks/search/search.css);
@import url(./blocks/header/header.css);
@import url(./blocks/test/test111.css);

.page {
  background-color: #FFFFFF;

}

.link {
  opacity: 1;
  transition: opacity 1.5s ease;
  text-decoration: none;
  color: #FFFFFF;
}