/* @import url(./vendor/normalize.css);
@import url(../blocks/about/__photo/about__photo.css);
@import url(../blocks/header/header.css);
@import url(../blocks/test/test111.css);
@import url(../blocks/search-results/_loading/search-results_loading.css); */

/* @import url(../blocks/test/test111.css); */


@font-face {
  src: url('./fonts/robotoslab-regular.woff') format('woff');
  /* url('../fonts/Inter/Inter-Regular.woff2') format('woff2'); */
  font-family: 'Roboto Slab';
}

@font-face {
  src: url('./fonts/roboto-regular.woff') format('woff');
  /* url('../fonts/Inter/Inter-Regular.woff2') format('woff2'); */
  font-family: 'Roboto';
}

@font-face {
  src: url('./fonts/roboto-black.woff') format('woff');
  font-family: 'Roboto';
  font-weight: bold;
}

@font-face {
  src: url('./fonts/sourcesanspro-regular.woff') format('woff');
  /* url('../fonts/Inter/Inter-Regular.woff2') format('woff2'); */
  font-family: 'Source Sans';
}

@font-face {
  src: url('./fonts/inter-regular.woff') format('woff');
  /* url('../fonts/Inter/Inter-Regular.woff2') format('woff2'); */
  font-family: 'Inter';
}

.body {
  margin: 0;
  padding: 0;
}

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  /* max-width: 1600px; */
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #FFFFFF;
  overflow: hidden;
}

.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 1.5s ease;
  text-decoration: none;
  color: #FFFFFF;
}

.link:hover {
  opacity: 0.7;
  transition: opacity 0.7s;
}


.link_underlined {
  border-bottom: 3px solid #FFFFFF;
  line-height: 5;
}


.button {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.br {
  display: block;
  padding-top: 18px;
}

.input {
  margin: 0;
  padding: 0;
  width:100%;
  /* todo ? */
  border: none;
}

.input:focus{
  outline: none;
}

.input::placeholder {
  color: #B6BCBF;
}