.search-results_successful {
  padding: 0 104px 80px;

}


@media screen and (max-width: 860px) {
  .search-results_successful {
    padding: 0 60px 60px;
  }
}

@media screen and (max-width: 768px) {
  .search-results_successful {
    padding: 0 40px 40px;
  }
}


@media screen and (max-width: 700px) {
  .search-results_successful {
    padding: 0 30px 40px;
  }
}

/* mobile */
@media screen and (max-width: 530px) {
  .search-results_successful {
    padding: 0 62px 38px;
  }
}

@media screen and (max-width: 480px) {
  .search-results_successful {
    padding: 0 40px 38px;
  }
}

@media screen and (max-width: 400px) {
  .search-results_successful {
    padding: 0 16px 32px;
  }
}